.stories {
  font-family: 'Roboto', sans-serif;
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stories .item {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 135px;
  height: 135px;
  padding: 20px 15px 10px 15px;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stories .item .name {
  margin-bottom: 2px;
}

.stories .item .subname {
  font-size: 14px;
}

.stories .item .day_count {
  height: 20px;
  border-radius: 10px;
  background: #fff;
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 12px;
  font-size: 10px;
  color: #000;
}

.stories .item .day_count::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik01LDEwQTUuMDA2LDUuMDA2LDAsMSwxLDguNTM0LDguNTM0LDUsNSwwLDAsMSw1LDEwWk01LC45MDlhNC4xLDQuMSwwLDEsMCwyLjg5MSwxLjJBNC4wOTEsNC4wOTEsMCwwLDAsNSwuOTA5WiIvPjxwYXRoIGQ9Ik0yMzUuMTUyLDk4LjMyN2EuNDU1LjQ1NSwwLDAsMS0uMzIxLS4xMzNsLTEuMzY0LTEuMzY0YS40NTQuNDU0LDAsMCwxLS4xMzMtLjMyMVY5My43ODJhLjQ1NS40NTUsMCwxLDEsLjkwOSwwdjIuNTM5bDEuMjMsMS4yM2EuNDU1LjQ1NSwwLDAsMS0uMzIxLjc3NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjguNzg5IC05MS41MDkpIi8+PC9nPjwvc3ZnPg==");
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper .swiper-button-next::after, .swiper .swiper-button-prev::after {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 4px;
  height: 8px;
}

.swiper .swiper-button-next::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLDMuMjg5LjgyNCw0LDMuOTg5LDEuNCw3LjE1NCw0LDgsMy4yODksMy45ODksMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQpIHJvdGF0ZSg5MCkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
}

.swiper .swiper-button-prev::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLC43MTEuODI0LDAsMy45ODksMi42LDcuMTU0LDAsOCwuNzExLDMuOTg5LDRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0KSByb3RhdGUoOTApIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
}

.swiper .swiper-button-next.swiper-button-disabled, .swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */