*{
	box-sizing: border-box;
}
.stories{
	font-family: 'Roboto', sans-serif;
	max-width: 1320px;
	padding: 0 60px;
	margin: 0 auto;
	position: relative;
	.title{
		font-weight: 500;
		font-size: 30px;
		color: #000;
		margin-bottom: 15px;
	}
	.col-2{
		display: flex;
		grid-gap: 15px 50px;
		.content-text{
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: #000;
			.detail{
				font-size: 14px;
				line-height: 21px;
				color: #292929;
				opacity: 0.5;
			}
		}
		.stories-list{
			position: relative;
			width: 50%;
			max-width: 590px;
			.swiper-button-next{
				right: -12px;
				width: 25px;
				height: 25px;
				margin-top: -12.5px;
			}
		}
	}
	.item{
		position: relative;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 135px;
		height: 135px;
		padding: 20px 15px 10px 15px;
		font-weight: 500;
		font-size: 12px;
		text-align: left;
		color: #fff;
		.name{
			margin-bottom: 2px;
		}
		.subname{
			font-size: 14px;
		}
		.day_count{
			height: 20px;
			border-radius: 10px;
			background: #fff;
			padding: 0 8px;
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 12px;
			font-size: 10px;
			color: #000;
			&::before{
				content:"";
				display: block;
				width: 10px;
				height: 10px;
				margin-right: 4px;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik01LDEwQTUuMDA2LDUuMDA2LDAsMSwxLDguNTM0LDguNTM0LDUsNSwwLDAsMSw1LDEwWk01LC45MDlhNC4xLDQuMSwwLDEsMCwyLjg5MSwxLjJBNC4wOTEsNC4wOTEsMCwwLDAsNSwuOTA5WiIvPjxwYXRoIGQ9Ik0yMzUuMTUyLDk4LjMyN2EuNDU1LjQ1NSwwLDAsMS0uMzIxLS4xMzNsLTEuMzY0LTEuMzY0YS40NTQuNDU0LDAsMCwxLS4xMzMtLjMyMVY5My43ODJhLjQ1NS40NTUsMCwxLDEsLjkwOSwwdjIuNTM5bDEuMjMsMS4yM2EuNDU1LjQ1NSwwLDAsMS0uMzIxLjc3NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjguNzg5IC05MS41MDkpIi8+PC9nPjwvc3ZnPg==");
			}
		}
	}
}
.stories{
	.swiper-button-next, .swiper-button-prev{
		width: 35px;
		height: 35px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		margin-top: -17.5px;
		&::after{
			content:"";
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 4px;
			height: 8px;
		}
	}
	.swiper-button-next{
		&::after{
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLDMuMjg5LjgyNCw0LDMuOTg5LDEuNCw3LjE1NCw0LDgsMy4yODksMy45ODksMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQpIHJvdGF0ZSg5MCkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
		}
	}
	.swiper-button-prev{
		&::after{
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLC43MTEuODI0LDAsMy45ODksMi42LDcuMTU0LDAsOCwuNzExLDMuOTg5LDRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0KSByb3RhdGUoOTApIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
		}
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		opacity: 1;
	}
}