*{
	box-sizing: border-box;
}
.overflowed {
	overflow: hidden;
	padding-right: 17px !important;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-overflow-scrolling: touch;

	@media (max-width: 1024px) {
		padding-right: 0 !important;
	}
}
.stories{
	font-family: 'Roboto', sans-serif;
	max-width: 1320px;
	padding: 0 60px;
	margin: 0 auto;
	position: relative;
	.title{
		font-weight: 500;
		font-size: 30px;
		color: #000;
		margin-bottom: 15px;
	}
	.title-sidebar{
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		color: #000;
		margin-bottom: 26px;
	}
	.col-2{
		display: flex;
		grid-gap: 15px 50px;
		.content-text{
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: #000;
			.detail{
				font-size: 14px;
				line-height: 21px;
				color: #292929;
				opacity: 0.5;
			}
		}
		.stories-list{
			position: relative;
			width: 50%;
			max-width: 590px;
			.swiper-button-next{
				right: -12px;
				width: 25px;
				height: 25px;
				margin-top: -12.5px;
			}
		}
	}
	&-sidebar{
		max-width: 294px;
		padding: 0;
		.stories-sidebar-list{
			position: relative;
			.title{
				font-size: 18px;
			}
			.swiper-button-next{
				right: -12px;
				width: 25px;
				height: 25px;
				margin-top: -12.5px;
			}
		}
	}
	.item{
		position: relative;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 135px;
		height: 135px;
		padding: 20px 15px 10px 15px;
		font-weight: 500;
		font-size: 12px;
		text-align: left;
		color: #fff;
		.name{
			margin-bottom: 2px;
		}
		.subname{
			font-size: 14px;
		}
		.day_count{
			height: 20px;
			border-radius: 10px;
			background: #fff;
			padding: 0 8px;
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 12px;
			font-size: 10px;
			color: #000;
			&::before{
				content:"";
				display: block;
				width: 10px;
				height: 10px;
				margin-right: 4px;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik01LDEwQTUuMDA2LDUuMDA2LDAsMSwxLDguNTM0LDguNTM0LDUsNSwwLDAsMSw1LDEwWk01LC45MDlhNC4xLDQuMSwwLDEsMCwyLjg5MSwxLjJBNC4wOTEsNC4wOTEsMCwwLDAsNSwuOTA5WiIvPjxwYXRoIGQ9Ik0yMzUuMTUyLDk4LjMyN2EuNDU1LjQ1NSwwLDAsMS0uMzIxLS4xMzNsLTEuMzY0LTEuMzY0YS40NTQuNDU0LDAsMCwxLS4xMzMtLjMyMVY5My43ODJhLjQ1NS40NTUsMCwxLDEsLjkwOSwwdjIuNTM5bDEuMjMsMS4yM2EuNDU1LjQ1NSwwLDAsMS0uMzIxLjc3NloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjguNzg5IC05MS41MDkpIi8+PC9nPjwvc3ZnPg==");
			}
		}
	}
	@media (max-width: 768px) {
		padding: 0 15px;
		.col-2{
			flex-direction: column;
			grid-gap: 15px 50px;
			.stories-list{
				width: 100%;
				max-width: 100%;
			}
		}
		.swiper-button-next, .swiper-button-prev{
			display: none;
		}
		&-sidebar{
			padding: 0;
		}
	}
}
.swiper-button-next, .swiper-button-prev{
	width: 35px;
	height: 35px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	margin-top: -17.5px;
	&::after{
		content:"";
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 4px;
		height: 8px;
		font-size: 0;
	}
}
.swiper-button-next{
	&::after{
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLDMuMjg5LjgyNCw0LDMuOTg5LDEuNCw3LjE1NCw0LDgsMy4yODksMy45ODksMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQpIHJvdGF0ZSg5MCkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==");
	}
}
.swiper-button-prev{
	&::after{
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA0IDgiPjxwYXRoIGQ9Ik0wLC43MTEuODI0LDAsMy45ODksMi42LDcuMTU0LDAsOCwuNzExLDMuOTg5LDRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0KSByb3RhdGUoOTApIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
	}
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	opacity: 1;
}
.swiper-pagination{
	bottom: auto;
	position: relative;
	.swiper-pagination-bullet{
		width: 50px;
		height: 4px;
		background: #dadddf;
		border-radius: 0;
		opacity: 1;
		&-active{
			opacity: 1;
			background: #31b0f8;
		}
	}
}
.popup {
	font-family: 'Roboto', sans-serif;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	.popup__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 15px;
		.popup__content {
			background-color: #fff;
			width: 100%;
			max-width: 1195px;
			max-height: 100%;
			overflow-y: auto;
			padding: 40px 80px;
			position: relative;
			border-radius: 6px;
			.popup-slider{
				position: relative;
			}
			.popup__close {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTcuNSIgaGVpZ2h0PSIxNy40OTkiIHZpZXdCb3g9IjAgMCAxNy41IDE3LjQ5OSI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCB3aWR0aD0iMTcuNSIgaGVpZ2h0PSIxNy40OTkiIGZpbGw9Im5vbmUiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGQ9Ik0xLjExNiwwQTEuMTE1LDEuMTE1LDAsMCwwLC4zMzgsMS45MTRMNy4xNzEsOC43NDYuMzM4LDE1LjU3OGExLjExNiwxLjExNiwwLDEsMCwxLjU3OCwxLjU3OGw2LjgzMi02LjgzMyw2LjgzMyw2LjgzM2ExLjExNSwxLjExNSwwLDEsMCwxLjU3Ni0xLjU3OEwxMC4zMjUsOC43NDZsNi44MzItNi44MzNBMS4xMTUsMS4xMTUsMCwxLDAsMTUuNTgxLjMzOEw4Ljc0OCw3LjE3LDEuOTE2LjMzOEExLjExNSwxLjExNSwwLDAsMCwxLjExNiwwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvZz48L3N2Zz4=");
				background-repeat: no-repeat;
				background-position: 0 0;
				position: absolute;
				right: 20px;
				top: 20px;
				background-color: transparent;
				padding: 0;
				margin: 0;
				border-radius: 0;
				width: 17.5px;
				height: 17.5px;
				border: none;
				cursor: pointer;
			}
			.hashtag__outer{
				text-align: center;
				margin: 38px 0 15px;
				.hashtag{
					font-size: 14px;
					color: #31b0f8;
					text-decoration: none;
					font-weight: 300;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.popup-title{
				margin: 15px auto;
				font-weight: 500;
				font-size: 30px;
				text-align: center;
				color: #000;
			}
			.popup-subtitle{
				margin: 15px auto 18px;
				font-weight: 500;
				font-size: 14px;
				text-align: center;
				color: #000;
			}
			.popup-body{
				margin-top: 35px;
				margin-bottom: 23px;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				background: #f3f3f3;
				padding: 40px;
				display: none;
				.title{
					font-weight: bold;
					font-size: 16px;
				}
				p{
					margin-bottom: 25px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				a{
					color: #31b0f8;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				a.choose{
					margin: 15px 0 0;
					width: 150px;
					height: 45px;
					border-radius: 4px;
					background: #31b0f8;
					font-weight: 500;
					font-size: 16px;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					&:hover{
						opacity: 0.8;
					}
				}
			}
			.popup-detail{
				margin: 15px auto;
				font-size: 14px;
				text-align: center;
				color: #31b0f8;
				display: block;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next{
		left: -50px;
	}
	.swiper-button-next, .swiper-rtl .swiper-button-next{
		right: -50px;
	}
	.popup-slider{
		.item{
			display: block;
			line-height: 0;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	@media (max-width: 768px) {		
		.swiper-button-prev, .swiper-button-next{
			display: none;
		}
		.popup__inner{
			.popup__content{
				padding: 20px;
				.popup__close {
					right: 10px;
					top: 10px;
				}
				.popup-body{
					margin-top: 20px;
					margin-bottom: 15px;
					padding: 15px;
				}
			}
		}
	}
}
.stories .swiper-button-next, .stories .swiper-button-prev{
	width: 35px;
	height: 35px;
}